.FancyBorder {
  background-color: #efefef;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Dialog-title {
  font-size: calc(30px + 2vmin);
  color: #000000;
}

.Dialog-message {
  color: #00ff88;
}
